In [ ]:
import pandas as pd
import re

# Load the datasets
uber_eats_1 = pd.read_excel("/content/Uber Eats_1.xlsx")
uber_eats_2 = pd.read_excel("/content/Uber Eats_2.xlsx")
uber_eats_3 = pd.read_excel("/content/Uber Eats_3.xlsx")
uber_eats_4 = pd.read_excel("/content/Uber Eats_4.xlsx")
yelp_four_dollar = pd.read_csv("/content/yelp_four_dollar_20data.csv")
yelp_one_dollar = pd.read_csv("/content/yelp_one_dollar_20data.csv")
yelp_three_dollar = pd.read_csv("/content/yelp_three_dollar_20data.csv")
yelp_two_dollar = pd.read_csv("/content/yelp_two_dollar_20data.csv")

In [ ]:
# union all datasets
combined_df = pd.concat([
    uber_eats_1, uber_eats_2, uber_eats_3, uber_eats_4
], ignore_index=True)

# correct column names
corrected_selected_columns = ["id", "name", "address1", "address2", "city", "zip_code", "review_count", "categories", "rating", "price"]

# make sure it exist
for col in corrected_selected_columns:
    if col not in combined_df.columns:
        combined_df[col] = None  # Add missing column as empty

# get the requested columns
ubereats_comma = combined_df[corrected_selected_columns]

# Function to correct categories formatting - add commas in between
def refine_categories(string):
    if pd.isnull(string):
        return string
    # Insert commas before capital letters except the first character
    return ', '.join(re.findall('[A-Z][^A-Z]*', string))

# Apply the function to the 'categories' column
ubereats_comma['categories'] = ubereats_comma['categories'].apply(refine_categories)

# Display the first few rows of the combined and corrected dataframe
print(ubereats_comma.head())

           id                             name           address1 address2  \
0  0002182390                      Saucy Asian    5614 Bay Street      210
1  0031423dca             Perilla - Irving St.  836 Irving Street
2  00da776500                    Begoni Bistro     615 Jackson St
3  00f369d788  Royal Kitchen Indian Restaurant       175 98th Ave
4  0161dacdc3                Ariel's Breakfast    2845 Mission St

             city  zip_code review_count                          categories  \
0   San Francisco     94608           22                      Asian, B, B, Q
1   San Francisco     94122         100+  Vietnamese, Noodles, Healthy, Fast
2   San Francisco     94133          new   Chinese, Asian, Noodles, Dumpling
3   San Francisco     94603           91                  Indian, Vegetarian
4   San Francisco     94110           51                      Mexican, Latin

   rating price
0       5     $
1       0     $
2       0     $
3       5     $
4       5     $

In [ ]:
# union all datasets
combined_df = pd.concat([
    ubereats_comma,
    yelp_four_dollar, yelp_one_dollar, yelp_three_dollar, yelp_two_dollar
], ignore_index=True)

# correct column names
corrected_selected_columns = ["id", "name", "address1", "address2", "city", "zip_code", "review_count", "categories", "rating", "price"]

# make sure it exist
for col in corrected_selected_columns:
    if col not in combined_df.columns:
        combined_df[col] = None  # Add missing column as empty

# get the requested columns
combined_selected_df = combined_df[corrected_selected_columns]

In [ ]:
# Assuming 'df' is your DataFrame variable
combined_selected_df.to_csv('uberEats_Yelp_Restaurants.csv', index=False)